// Write your custom styling here
@import "components/welcome";
@import "components/task_title_input";
@import "components/task_list";
@import "components/task_item";
@import "components/user_dropdown";
@import "components/dialog";

.filter-button {
  border: none;
  // height: 20px;
  border-radius: 6px;
  @include font("Inter", 400, 16px, "left", 0, 1);
  color: #535a78;
  background: $gray-50 0% 0% no-repeat padding-box;
  padding: 0.5rem 1rem;

  &--active {
    background: $gray-200 0% 0% no-repeat padding-box;
    color: $gray-900;
  }
}

.avatar-container {
  position: relative;
}



