.task-list {
  color: $gray-900;

  &__title {
    @include font("Inter", 500, 32px, "left", 0, 1);
  }
}

.search-input {
  width: 100%;
  height: 39px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e6e6e6;
  border-radius: 100px;
  @include font("Inter", 400, 16px, "left", 0, 1);
  padding: 10px 10px 10px 54.26px;
  box-sizing: border-box;

  &::placeholder {
    color: $gray-400;
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &--icon {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 30%;
    left: 18.36px;

    path {
      fill: $gray-400;
    }
  }
}
